## Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

## Code

In [2]:
start_date = "2000-09-01"
end_date = "2023-03-21"
companies = ["CVX", "XOM", "BP", "GE", "NEE"]
company = ["t"]
Data = yf.download(companies, start=start_date, end=end_date)

[*********************100%***********************]  5 of 5 completed

In [3]:
Data

            Adj Close                                                 \
                   BP         CVX          GE        NEE         XOM
Date
2000-09-01  19.343513   18.672609  193.858887   3.328904   20.331314
2000-09-05  19.644747   18.775021  191.580612   3.367299   20.546940
2000-09-06  19.730812   19.252934  195.515823   3.455611   20.454525
2000-09-07  19.644747   19.293900  195.515823   3.532403   20.639364
2000-09-08  19.537163   18.938887  198.415405   3.561198   20.577763
...               ...         ...         ...        ...         ...
2023-03-14  38.250000  160.759995   91.169998  74.550003  106.940002
2023-03-15  35.849998  153.800003   89.760002  75.519997  101.620003
2023-03-16  35.619999  154.289993   91.970001  76.230003  101.029999
2023-03-17  35.169998  152.339996   90.290001  75.669998   99.839996
2023-03-20  35.799999  154.580002   89.919998  75.970001  102.449997

                Close                                                 ...  \
                   BP         CVX          GE        NEE         XOM  ...
Date                                                                  ...
2000-09-01  56.187500   42.734375  351.288055   6.773438   41.250000  ...
2000-09-05  57.062500   42.968750  347.159668   6.851563   41.687500  ...
2000-09-06  57.312500   44.062500  354.290527   7.031250   41.500000  ...
2000-09-07  57.062500   44.156250  354.290527   7.187500   41.875000  ...
2000-09-08  56.750000   43.343750  359.544830   7.246094   41.750000  ...
...               ...         ...         ...        ...         ...  ...
2023-03-14  38.250000  160.759995   91.169998  74.550003  106.940002  ...
2023-03-15  35.849998  153.800003   89.760002  75.519997  101.620003  ...
2023-03-16  35.619999  154.289993   91.970001  76.230003  101.029999  ...
2023-03-17  35.169998  152.339996   90.290001  75.669998   99.839996  ...
2023-03-20  35.799999  154.580002   89.919998  75.970001  102.449997  ...

                 Open                                                 \
                   BP         CVX          GE        NEE         XOM
Date
2000-09-01  55.437500   42.343750  355.791748   6.703125   41.000000
2000-09-05  57.312500   43.156250  350.912750   6.820313   41.562500
2000-09-06  57.125000   43.281250  353.915222   6.820313   41.781250
2000-09-07  57.562500   44.750000  353.539917   7.054688   41.750000
2000-09-08  55.875000   43.687500  353.164581   7.148438   41.531250
...               ...         ...         ...        ...         ...
2023-03-14  38.049999  158.259995   91.169998  73.989998  106.349998
2023-03-15  36.070000  155.589996   88.989998  74.449997  102.820000
2023-03-16  34.400002  150.160004   89.400002  75.660004   99.110001
2023-03-17  35.520000  153.619995   91.790001  76.290001  100.599998
2023-03-20  35.720001  151.740005   90.629997  75.599998   99.629997

              Volume
                  BP       CVX        GE       NEE       XOM
Date
2000-09-01    857200   3277000   1289109   3537600   8084800
2000-09-05   2796000   1721600   1550095   8782400  11928200
2000-09-06   3946300   2794000   2432920   4619200  11893200
2000-09-07   2298400   3450000   1337486   3836000   7297400
2000-09-08   1955600   2740600   1811746   5186400   9289800
...              ...       ...       ...       ...       ...
2023-03-14   8748900  10035200  11347500   8635800  18263500
2023-03-15  18693800  14063100  12057300  12030300  25733800
2023-03-16  16101900  12849600   8127600   8895800  27465200
2023-03-17  11135700  33154500  10184900  14131700  43187100
2023-03-20  10671600   8469200   6947200   7140100  32027900

[5671 rows x 30 columns]

## Cleaning Data

In [4]:
Data.dropna()
Data.duplicated()

Date
2000-09-01    False
2000-09-05    False
2000-09-06    False
2000-09-07    False
2000-09-08    False
              ...
2023-03-14    False
2023-03-15    False
2023-03-16    False
2023-03-17    False
2023-03-20    False
Length: 5671, dtype: bool

## Selecting Data

In [13]:
Data = Data.Close

In [31]:
Data.head()

                 BP        CVX          GE       NEE      XOM    Growth
Date
2000-09-01  56.1875  42.734375  351.288055  6.773438  41.2500       NaN
2000-09-05  57.0625  42.968750  347.159668  6.851563  41.6875  1.557286
2000-09-06  57.3125  44.062500  354.290527  7.031250  41.5000  0.438116
2000-09-07  57.0625  44.156250  354.290527  7.187500  41.8750 -0.436205
2000-09-08  56.7500  43.343750  359.544830  7.246094  41.7500 -0.547645

In [33]:
# Use pct_change() to calculate the percentage change of the value over time
pct_change = Data["BP"]

# Select the first and last rows of the resulting dataframe
first_value = pct_change.iloc[1]
last_value = pct_change.iloc[-1]

print (first_value)
print (last_value)

# Calculate the percentage change between the first and last values
percentage_change = (last_value - first_value) / first_value * 100

# Print the result
print(f"The percentage change from the first date to the last date is: {percentage_change:.2f}%")

57.0625
35.79999923706055
The percentage change from the first date to the last date is: -37.26%

In [34]:
pct_change = Data["CVX"]

first_value = pct_change.iloc[1]
last_value = pct_change.iloc[-1]

percentage_change = (last_value - first_value) / first_value * 100

print(f"The percentage change from the first date to the last date is: {percentage_change:.2f}%")

The percentage change from the first date to the last date is: 259.75%

In [35]:
pct_change = Data["XOM"]
first_value = pct_change.iloc[1]
last_value = pct_change.iloc[-1]

percentage_change = (last_value - first_value) / first_value * 100

print(f"The percentage change from the first date to the last date is: {percentage_change:.2f}%")

The percentage change from the first date to the last date is: 145.76%

In [36]:
pct_change = Data["GE"]

first_value = pct_change.iloc[1]
last_value = pct_change.iloc[-1]

percentage_change = (last_value - first_value) / first_value * 100

print(f"The percentage change from the first date to the last date is: {percentage_change:.2f}%")

The percentage change from the first date to the last date is: -74.10%

In [37]:
pct_change = Data["NEE"]

first_value = pct_change.iloc[1]
last_value = pct_change.iloc[-1]

percentage_change = (last_value - first_value) / first_value * 100

print(f"The percentage change from the first date to the last date is: {percentage_change:.2f}%")

The percentage change from the first date to the last date is: 1008.80%

In [6]:
Data.Close
Data.Close.to_csv(r'C:\Users\Augustin\Downloads\Augustin_Carbonnelle1.csv')
Data.Volume
Data.Volume.to_csv(r'C:\Users\Augustin\Downloads\Augustin_Carbonnelle2.csv')